# dependencies
node_modules

# build output
.next
out
.vercel
coverage
*.tsbuildinfo

# local env
.env.local
.env.*
!.env.example

# OS/editor artifacts
.DS_Store
Thumbs.db
.vscode/
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
*.log
